$green1:#509476;
$green2:#91c1ab;
$green3:#184135;
$green4:#004731;
$green5:#327760;
$green6:#4d987d;
$green7:#52a184;
$green8:#497d6b;
$green9:#467160;

$green:#3e8462;



$prox: #c7c7c7;
$black:#111;
$white:#dddddd;
$brown: #202320;
$spotify:#1ed760;
$spotify2:#43876a;
$youtube:#c4302b;
$facebook:#2f55a4;
$instagram:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;




.separator{
    height: 3px;
    width: 100%;
    background-color: $green;
}