@media screen and (max-width: 768px) {



    header {
        .navBar {
            width: 70%;

            

            .navRedes {
                i {
                    font-size: 1.5em;
                }
            }
        }
    }

    #presentation{
        background-size: 120%;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        gap: 1em;
        padding: 0;
        a{
            padding-bottom: 4em;
            i{
                padding: 0 .2em;
            }
        }
        a:nth-child(4){
            padding-bottom: 4em;
        }
    }

    #music {
        height: auto;
        .repertorioSongs {
            flex-flow: column nowrap;
            align-items: center;
            gap: 5em;
            padding: 10em 0;
            .Song{
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }

    }

    #eventos {
        width: 90%;

        .eventDay {
            flex-direction: column;
            margin: 1em 0;
            .eventDayL {
                .eventDayNumber {
                    width: 30px;
                    padding: 0 1em 0 0;
                    p {
                        font-size: 0.8em;
                    }
    
                    p:nth-child(2) {
                        font-size: 1.5em;
                    }
                }
                .eventDayPlace{
                    border-left: 4px solid $green;
                    p{
                        display: flex;
                        flex-direction: column;
                        padding: .5em 0;
                        font-size: 1.5em;
                    }
                    p:nth-child(2) {
                        padding: 0;
                        font-size: 0.8em;
                    }
    
                    p:nth-child(3) {
                        padding: 0;
                        font-size: 0.8em;
                    }
                }
            }

            .eventDayR {
                position: absolute;
                right: 0;
                margin: 2em 3em 0 0;
                z-index: -1;
                a{
                    i{
                        font-size: 2em;
                    }
                }
                span {
                    margin: 2em 0 0 0;
                    font-size: 1.2em;
                }
            }
        }
        .eventMonth{
            padding: 1em 0;
        }
    }

    #galery{
        .galery{
            display: flex;
            flex-flow: column;
            width: 90%;
        }
    }

    #contact{
        .footRedes{
            gap: .5em;
        }
        .footMenu{
            a{
                font-size: .8em;
            }
        }
    }








}